body {
    font-family: sans-serif;
}

.vis-network {
  overflow:visible;
}

a {
    color: #009879;
}

.center {
    margin: auto;
    text-align: center;
}

.personstable_container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.datatable_search {
    width: 100%;
    max-width: 233px;
}

.personstable {
    border-collapse: collapse;
    margin-bottom: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /*table-layout: auto !important;*/
    border: none;
}

.personstable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.personstable th,
.personstable td {
    padding: 12px 15px;
    border: none;
}

.personstable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.personstable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.personstable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.data tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.info {
    padding: 20px;
    /*background-color: #F3F3F3;*/
    margin-bottom: 15px;
    text-align: center;
}

#persons_stats {
    margin-bottom: 15px;
    color: #a8a8a8;
}
