<!DOCTYPE html>
<html lang="html" style="height: 100%;">
<head>
  <title>Pen & Paper</title>
  <script src="{{js_path}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body  style="height: 100%;">

<div class="info">
  Last reloaded {{not_reloaded_since}}. 
  <a href="/reload">Reload now.</a>
  <a href="https://docs.google.com/spreadsheets/d/1Mgi9Hyjqhz4aov0tt9oi15KAON4kKKnsKBDSMyt-T1I/edit?usp=sharing">Edit relations</a>
  <a href="https://docs.google.com/spreadsheets/d/1N4Mw2q9tKiqbEGW5f1n_G-8cHCTCYbcMDK0Mh3vqu08/edit?usp=sharing">Edit persons</a>
</div>

<div id="mynetwork" style="width: 100%; height: 90%;" class="vis-network"></div>

<div id="persons">{{persons_table|safe}}</div>
<div id="persons_stats" class="center">This table lists {{n_persons}} characters. There are {{n_connections}} connections shown in the graph above.</div>

<script type="text/javascript">
  let container = document.getElementById('mynetwork');
  let dot = `{{dotgraph | safe}}`;
  let data = vis.parseDOTNetwork(dot);
  let options = {
    clickToUse: true,
  }
  let network = new vis.Network(container, data, options);
</script>



</body>
</html>
